[DYN6]
dict = {'email' : 'hostmaster.example.com', 'dns' : 'ns-power1.example.com','ttl' : 3600, 'version': 6,'nameserver': ['ns-power.example.com','ns-power1.example.com',]}

[DYN]
dict = {'email' : 'hostmaster.example.com', 'dns' : 'ns-power1.example.com','ttl' : 3600, 'version': 4,'nameserver': ['ns-power1.example.com','ns-power2.example.com',]}

[DEFAULTS]
dict = {'email' : 'hostmaster.example.com', 'dns' : 'ns-power1.example.com','ttl' : 3600, 'version': 4,'nameserver': ['ns-power1.example.com','ns-power2.example.com',]}
