[2001:db8:2002::/48]
defaults = DYN6
options = {'prefix': 'dyn-p', 'postfix': '', 'forward': 'dyn6.example.com', 'version': 6,  'showclientid': 1, 'nrdelegation': 0}

[2001:db8:3000::/40]
defaults = DYN6
options = {'prefix': 'dyn-h', 'postfix': '', 'forward': 'dyn6.example.com', 'version': 6,  'showclientid': 1, 'nrdelegation': 1}

[2001:db8:2090::/48]
defaults = DYN6
options = {'prefix': 'dyn-np', 'postfix': '', 'forward': 'dyn6.example.com', 'version': 6, 'showclientid': 1, 'nrdelegation': 0}

[2001:db8:2091::/48]
defaults = DYN6
options = {'prefix': 'dyn-nh', 'postfix': '', 'forward': 'dyn6.example.com', 'version': 6, 'showclientid': 1, 'nrdelegation': 0}

[10.10.128.0/17]
defaults = DYN
options = {'prefix': 'dyn-', 'postfix': '', 'forward': 'dyn.example.com', 'version': 4}

[10.10.80.0/21]
defaults = DYN
options = {'prefix': 'dyn-', 'postfix': '', 'forward': 'dyn.example.com', 'version': 4}
